/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #7f7f7f;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}

.container {
  color: #7f7f7f;
  text-align: center;
  background-color: #191919;
  padding: 20px;
  border-radius: 10px;
  border-color: #373737;
  border-width: 1px;
  border-style: none;
}

#timerDisplay {
  font-size: 4rem;
  margin-bottom: 20px;
}

.controls button {
  font-size: 1.5rem;
  padding: 5px 5px;
  margin: 5px;
  background-color: transparent;
  color: #7f7f7f;
  border-style: none;
  vertical-align: middle;
}

.options {
  margin-bottom: 20px;
}

.options label {
  font-size: 1rem;
  margin-right: 20px;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: transparent;
  color: #373737;
  border-radius: 10px;
  border-color: #373737;
  border-width: 1px;
  border-style: solid;
  cursor: not-allowed;
}
#resetButton {
  font-size: 1.1rem;
  font-weight: 550;
  padding: 10px 7px;
  margin: 5px;
  border: none;
}
